.App {
  padding-top : 10%;
  color       : #07f8d8;
}

.Button {
  background-color: #07f8d8;
  color           :#DDA520;
  font-size       : 2em;
}

.ButtonEnd {
  background-color: #07f8d8;
  color           :#DDA520;
}

.Paragraph {
  font-size: 2em;
}

.AnswerPage {
  padding: 20%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
