body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: brown; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color  : brown;
  background-image  : url('./data/map-of-the-world-2241469_1280.png'); 
  background-repeat : no-repeat;
  text-align        : center;
 font-family         : Georgia, 'Times New Roman', Times, serif;
  min-height          : 100vmin;
  min-width           : 100vmin;
  background-position :center;
  
}
